---
const { src, title } = Astro.props;
---
<div class="mb-6">
  <iframe
    class="w-full h-96 rounded-lg"
    src={src}
    title={title}
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
