---
import ProgramLayout from "../../layouts/ProgramLayout.astro";
import { Image } from "astro:assets";

import heroImg from "../../assets/images/mindset-youth.jpg";
---

<ProgramLayout title="Mindset Youth" heroImg={heroImg}>
  <section class="px-4 flex flex-col py-16">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-16">
      <h1 class="text-9xl font-bold max-md:text-7xl">
        Welcome to the Mindset Youth program.
      </h1>
      <div
        class="max-w-2xl bg-primary text-white p-8 text-xl gap-4 flex flex-col"
      >
        <p>
          If you're a young individual or a parent looking to improve your
          child's fitness, self-defense skills, and sharpen their mindset and
          goal-setting abilities while learning how to manage emotions and
          control unhealthy urges, the Mindset Youth Program is for you! With
          weekly check-ins and structured guidance, this program is designed to
          help you stay on track and achieve personal development goals.
        </p>

        <p>
          We focus on:
          <div class="ml-4">
            <li class="list-item">
              Mindset tools (e.g., emotional control and awareness)
            </li>
            <li class="list-item">Fitness</li>
            <li class="list-item">Self-defense</li>
            <li class="list-item">Goal setting</li>
            <li class="list-item">Weekly check-ins</li>
          </div>
        </p>
        <p>
          Join our Mindset Youth Program to enhance your physical fitness,
          develop self-defense skills, and learn how to hit your goals while
          staying ahead of the game. These skills will set you up for success in
          all areas of life, keeping you on track and one step ahead of the
          challenges that lie ahead.
        </p>
      </div>

      <div
        class="max-w-2xl bg-primary text-white p-8 text-xl gap-4 flex flex-col"
      >
        <h1 class="font-bold text-2xl">
          Why These Tools Matter in Your Teenage Years
        </h1>
        <p>
          The teenage years are a critical period for personal growth and
          development. It’s a time when habits, attitudes, and skills that shape
          future success begin to take root. Having the right tools during this
          stage—such as emotional control, self-awareness, goal-setting, and
          fitness—not only prepares you for immediate challenges but also helps
          build the foundation for a successful and fulfilling life. Learning
          how to manage emotions, control impulses, and stay focused on goals
          gives you a powerful advantage as you transition into adulthood.
        </p>
      </div>
    </div>
  </section>
</ProgramLayout>
