---
import ProgramLayout from "../../layouts/ProgramLayout.astro";
import { Image } from "astro:assets";

import heroImg from "../../assets/images/mindset-buddy.jpg";
---

<ProgramLayout title="Mindset Buddy" heroImg={heroImg}>
  <section class="px-4 flex flex-col py-16">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-16">
      <h1 class="text-9xl font-bold max-md:text-7xl">
        Welcome to the Mindset Buddy program.
      </h1>
      <div
        class="max-w-2xl bg-primary text-white p-8 text-xl gap-4 flex flex-col"
      >
        <p>
          For those who want to take mindset and coaching to the next level! If
          you've completed the Ultimate Mindset Program and want to take things
          even further by having a full-time coach or mindset buddy, this is for
          you!
        </p>
        <p>
          We offer 3, 6, or 12-month subscriptions that include:
          <div class="ml-4">
            <li class="list-item">Daily check in's</li>
            <li class="list-item">Weekly video calls</li>
            <li class="list-item">Monthly meet ups (if in Auckland)</li>
            <li class="list-item">Constant accessibility to the UM program</li>
            <li class="list-item">
              Shared connections for networking i.e., business mentors
            </li>
          </div>
        </p>
      </div>

      <div
        class="max-w-2xl bg-primary text-white p-8 text-xl gap-4 flex flex-col"
      >
        <h1 class="font-bold text-2xl">
          Why Having an Accountability Buddy is Crucial
        </h1>
        <p>
          An accountability buddy provides the support, structure, and
          motivation you need to stay consistent with your goals. Whether it's
          personal, professional, or fitness-related, knowing that someone is
          there to check in, offer guidance, and hold you accountable keeps you
          on track, even during challenging times. Having someone who
          understands your journey makes a huge difference in maintaining focus,
          building discipline, and overcoming obstacles. It's about more than
          just checking off tasks—it's about having someone push you toward
          becoming the best version of yourself.
        </p>
        <p>
          Think of it like an accountability buddy, but with more purpose and
          direction. We can focus on the areas you want to improve, whether
          that's business goals, mental wellness, sports, or fitness
          achievements.
        </p>
      </div>
    </div>
  </section>
</ProgramLayout>
