---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login">
  <section
    class="h-screen bg-black w-full flex justify-center items-center px-4"
  >
    <form
      action="/api/auth/reset-password"
      method="post"
      class="w-96 mx-auto bg-base-200 p-10 flex flex-col gap-8"
    >
      <h1 class="text-center font-bold text-4xl uppercase">
        Update your password
      </h1>
      <div class="flex flex-col gap-1">
        <label class="input input-bordered flex items-center gap-2">
          Password
          <input
            name="password"
            id="password"
            type="password"
            class="grow"
            required
            placeholder="••••••••••••••••••"
          />
        </label>
        <label class="input input-bordered flex items-center gap-2">
          Confirm Password
          <input
            name="confirm_password"
            id="confirm_password"
            type="password"
            class="grow"
            required
            placeholder="••••••••••••••••••"
          />
        </label>
      </div>
      <input type="hidden" name="access_token" id="access_token" />
      <input type="hidden" name="refresh_token" id="refresh_token" />
      <div class="flex flex-col gap-4">
        <button type="submit" class="btn btn-primary btn-sm mx-auto"
          >ENTER</button
        >
      </div>
    </form>
  </section>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hash = new URLSearchParams(window.location.hash.substring(1));

    const accessToken = hash.get("access_token");
    const refreshToken = hash.get("refresh_token");

    if (accessToken && refreshToken) {
      const accessTokenElement = document.getElementById(
        "access_token",
      ) as HTMLInputElement;
      if (accessTokenElement) {
        accessTokenElement.value = accessToken;
      }
      const refreshTokenElement = document.getElementById(
        "refresh_token",
      ) as HTMLInputElement;
      if (refreshTokenElement) {
        refreshTokenElement.value = refreshToken;
      }
    }
  });
</script>
