---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImg from "../assets/images/testimonials.jpg";
import testimonials from "../data/testimonials.json";
import { Cloudinary } from "@cloudinary/url-gen";
import { Resize } from "@cloudinary/url-gen/actions";

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
  },
});

const testimonialVideo1 = cld.video("re3/david-testimonial_gsta9h");
testimonialVideo1.resize(Resize.scale().width(1920)).quality(80);
const testimonialVideoUrl1 = testimonialVideo1.toURL();

const testimonialVideo2 = cld.video("re3/david-testimonial_gsta9h");
testimonialVideo2.resize(Resize.scale().width(1920));
const testimonialVideoUrl2 = testimonialVideo2.toURL();
---

<Layout title="Testimonials">
  <section
    class="min-h-screen w-full relative bg-black flex flex-col items-center justify-center py-20"
  >
    <Image
      src={heroImg}
      alt="hero"
      class="w-full object-top h-full object-cover absolute top-0 left-0 grayscale opacity-50"
    />
    <div class="flex flex-col relative z-10 text-center items-center">
      <div
        class="uppercase text-white font-extrabold flex flex-col gap-4 max-md:gap-2"
      >
        <h1 class="text-8xl max-md:text-4xl">testimonials</h1>
        <h1 class="text-2xl max-md:text-sm text-primary font-medium">
          see the results we get for our clients.
        </h1>
      </div>
    </div>
  </section>

  <section id="testimonials" class="py-16 bg-gray-100">
    <div class="max-w-screen-xl mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {
          testimonials.testimonials.map((testimonial) => (
            <div class="bg-base-200 border  rounded-md  border-b-4 p-8">
              <h2 class="text-2xl font-bold mb-4">{testimonial.name}</h2>
              <p
                class="text-gray-700 whitespace-pre-wrap"
                style="white-space: pre-wrap;"
              >
                {testimonial.content}
              </p>
            </div>
          ))
        }
      </div>
      <h1
        class="text-4xl max-md:text-2xl text-center mt-8 font-light text-primary"
      >
        David's thoughts on RE:3
      </h1>
      <video
        id="introVideo"
        autoplay
        loop
        muted
        controls
        playsinline
        class="w-full aspect-video max-md:h-96 object-cover mt-8"
      >
        <source src={testimonialVideoUrl1} type="video/mp4" />
      </video>
    </div>
  </section>
</Layout>
